body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



input[type='text'] {
	margin: 1rem;
	background: rgb(255, 255, 255);
	font-size: 1.3rem;
	border: none;
	box-shadow: inset 0 0 2px rgb(0, 0, 0);
	border-radius: 100px;
	padding: 0 2rem;
	width: calc(100% - 2rem);
	height: 4rem;
}

/* ##### Rows ##### */
.row {
	margin-top: 0rem;
	justify-content: center;
}

.row:after {
	padding: 1 0rem;
	content: '';
	display: table;
	clear: both;
	
		
}


.bg{
	background: #014d76; 
	justify-content: center;
}


main {
	padding: 0 2rem;
}


.tableWrapper {
	max-height: 500px;
	min-height: 500px;
	overflow: auto;
	scroll-behavior: smooth;
	align-items: flex-start;
	align-self: flex-end;
}







/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color:  #014d76; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 100%; background-color: #0033ff;} /* Green */






.students {
  column-count: 1;
  column-gap: 40px;
  column-rule-style: solid;
}
/*
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Clear floats after the columns */